# General cache and temporary files
__pycache__/
*.py[cod]
*.tmp
*.temp
*.log
.ipynb_checkpoints/

# Ignore specific patterns globally
**/.ipynb_checkpoints/
**/githubs/
**/skeleton_data/
**/test_*

# VSCode settings
.vscode/

# Specific file exclusions
videos_test/ch13_20241218122900.mp4
videos_test/cheating.mp4
videos_test/not_cheating.mp4
tmp*

# Miscellaneous
**/core
weights/*.pt