tensorflow==2.10.0
torch==2.5.1
ultralytics==8.3.49
pandas==2.2.3
scipy==1.14.1
opencv-python==4.10.0.84
requests==2.32.3
matplotlib==3.9.4
seaborn==0.13.2
numpy==2.2.0
pillow==11.0.0
mediapipe==0.10.5

